<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Member Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="memArea">
    <div class="col-xs-12 col-sm-6">
        <div class="text-col2 cover-pic">

        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <form method="post" action="api/member/update" method="post">
            <table border="1" align="center">
                <caption>加入會員</caption>
                <tr>
                    <th>會員名稱</th>
                    <td>
                        <input type="text" name="name" value=" {% for obj in data %}
{{ obj['name'] }}
                        {% endfor %}"></td>

                </tr>
                <tr>
                    <th>會員名稱</th>
                    <td>
                        <input type="text" name="nickname" value=" {% for obj in data %}
{{ obj['nickname'] }}
                        {% endfor %}"></td>

                </tr>
                <tr>
                    <th>登入帳號</th>
                    <td><input type="text" name="account" value=" {% for obj in data %}
{{ obj['account'] }}
                        {% endfor %}"></td>
                </tr>
                <tr>
                    <th>登入密碼</th>
                    <td><input type="password" name="password" value=" {% for obj in data %}
{{ obj['password'] }}
                        {% endfor %}"></td>
                </tr>
                <tr>
                    <th>電話號碼</th>
                    <td><input type="text" name="cellphone" value=" {% for obj in data %}
{{ obj['cellphone'] }}
                        {% endfor %}"></td>
                </tr>
                {#<tr>#}
                    {#<th>地區</th>#}
                    {#<td><input type="text" name="area" value=" {% for obj in data %}#}
{#{{ obj['area'] }}#}
                        {#{% endfor %}"></td>#}
                {#</tr>#}

                {#<tr>#}
                    {#<th>生日</th>#}
                    {#<td><input type="text" name="memBirth" value=" {% for obj in data %}#}
{#{{ obj['birthday'] }}#}
                        {#{% endfor %}"></td>#}
                {#</tr>#}

                {#<tr>#}
                    {#<th>Email</th>#}
                    {#<td><input type="email" name="memEmail" value=" {% for obj in data %}#}
{#{{ obj['email'] }}#}
                        {#{% endfor %}"></td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>性別</th>#}
                    {#<td>#}
                        {#男 <input type="radio" name="man" value="#}
 {#{% for obj in data %}#}
{#{{ obj['man'] }}#}
                        {#{% endfor %}">#}
                        {#女 <input type="radio" name="girl" value="#}
 {#{% for obj in data %}#}
{#{{ obj['girl'] }}#}
                        {#{% endfor %}" >#}
                    {#</td>#}
                {#</tr>#}


                <tr>
                    <td colspan="2" id="sub">
                        <input type="submit" name="confirm" value="確認修改">
                        <input type="reset" name="reset" value="還原">

                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
</html>